<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/e9b9528f42ea7f05035870b7/w/4a700c78264de3df2b7eef9d/e/b0ce0b1179539ce25c74b47e -->
<robot name="rotary_pendulum">
  <!-- Link base -->
  <link name="base">
    <inertial>
      <origin xyz="-1.94874e-05 0.0914986 0.0540366" rpy="0 0 0"/>
      <mass value="0.27687"/>
      <inertia ixx="0.000159201" ixy="2.21915e-07" ixz="-2.53851e-07" iyy="0.000157773" iyz="-1.01867e-06" izz="0.000152676"/>
    </inertial>
    <!-- Part base -->
    <visual>
      <origin xyz="0 0.0915823 -0.00427393" rpy="-0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\base.stl"/>
      </geometry>
      <material name="base_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0915823 -0.00427393" rpy="-0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\base.stl"/>
      </geometry>
    </collision>
    <!-- Part sf2421_10b41 -->
    <visual>
      <origin xyz="-0 0.0916803 0.0746761" rpy="-0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\sf2421_10b41.stl"/>
      </geometry>
      <material name="sf2421_10b41_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.0916803 0.0746761" rpy="-0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\sf2421_10b41.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_plate -->
    <visual>
      <origin xyz="0 0.0916803 -0.00427393" rpy="-0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\motor_plate.stl"/>
      </geometry>
      <material name="motor_plate_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0916803 -0.00427393" rpy="-0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\motor_plate.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="-0 0.0915823 0.0757261" rpy="0 0 3.14159"/>
      <geometry>
        <mesh filename="package://assets\part_1.stl"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.866667 0.321569 0.156863 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.0915823 0.0757261" rpy="0 0 3.14159"/>
      <geometry>
        <mesh filename="package://assets\part_1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link composite_part_2 -->
  <link name="arm">
    <inertial>
      <origin xyz="0.0398571 -0 0.00135498" rpy="0 0 0"/>
      <mass value="0.0367867"/>
      <inertia ixx="3.91002e-06" ixy="-0" ixz="9.8849e-08" iyy="1.86588e-05" iyz="0" izz="1.83441e-05"/>
    </inertial>
    <!-- Part 608zz -->
    <visual>
      <origin xyz="0.112 -0 -0.012" rpy="-0 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets\608zz.stl"/>
      </geometry>
      <material name="608zz_material">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.112 -0 -0.012" rpy="-0 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets\608zz.stl"/>
      </geometry>
    </collision>
    <!-- Part composite_part_2 -->
    <visual>
      <origin xyz="0 -0 0.016" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\composite_part_2.stl"/>
      </geometry>
      <material name="composite_part_2_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 0.016" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://assets\composite_part_2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link pendulum -->
  <link name="pendulum">
    <inertial>
      <origin xyz="-0 0.0476311 0.00487863" rpy="0 0 0"/>
      <mass value="0.00903535"/>
      <inertia ixx="6.3619e-06" ixy="-0" ixz="0" iyy="4.25372e-07" iyz="-4.82598e-07" izz="6.5126e-06"/>
    </inertial>
    <!-- Part pendulum -->
    <visual>
      <origin xyz="0 0 0.006" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets\pendulum.stl"/>
      </geometry>
      <material name="pendulum_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.006" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets\pendulum.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from composite_part_2 to pendulum -->
  <joint name="arm_to_pendulum" type="revolute">
    <origin xyz="0.06 -0 0.002" rpy="1.5708 -0.00389442 1.5708"/>
    <parent link="composite_part_2"/>
    <child link="pendulum"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Joint from base to composite_part_2 -->
  <joint name="base_to_arm" type="revolute">
    <origin xyz="-0 0.0916803 0.0986761" rpy="3.14159 -0 -1.5708"/>
    <parent link="base"/>
    <child link="composite_part_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
